@import "./variables";

thosebtns {
  display: flex;
  grid-column: 6/8;
  align-self: end;
  justify-self: end;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 100%;

  background-color: none;
}

edit {
  text-align: center;
  color: rgb(19, 17, 17);
  border: 2px solid black;
  height: 50%;
  width: 50%;
  cursor: pointer;
  border-radius: 5px;
  background-color: $editBtn;
}
remove {
  cursor: pointer;
}

.Project {
  display: grid;
  position: relative;
  padding: 1rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-content: end;
  font-size: 1.5rem;
  text-align: center;
  border-radius: 12px;
  border: 2px solid black;
  height: 4rem;
  width: 50%;
  background-color: $projectDiv;

  &:hover {
    box-shadow: 2px 2px 2px 2px rgb(16, 22, 27);
    transition-duration: 200ms;
  }
  tabbtncontainer {
    display: flex;
    align-self: end;
    justify-content: space-around;
    align-items: center;
    grid-column: 1/6;
    box-shadow: 2px 2px 2px 2px black;
    grid-row: 1;
  }
  taskBtn {
    color: white;
    font-size: 1rem;
    display: none;

    background-color: $taskBtnDiv;

    border-radius: 5px;
    justify-content: center;
    align-items: center;
    justify-self: center;
    align-self: center;
    cursor: pointer;

    height: 100%;
    width: 100%;
  }
  task {
    height: 40%;
    width: 100%;
    background-color: rgb(103, 41, 41);
  }

  closeBtn {
    position: absolute;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(45deg);
    justify-self: self-end;
    align-self: start;
    width: 12px;
    height: 12px;
    top: -15px;
    right: 5px;
    grid-row: 1;
    grid-column: 3;
    padding: 2px;
    border-radius: 12px;
    background-color: rgb(24, 1, 1);
    cursor: pointer;
  }

  img {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(270deg);
    grid-column: 5;
    grid-row: 1;
    justify-self: center;
    align-self: center;
    cursor: pointer;
    transition: transform 300ms;
  }
  .rotate {
    transform: rotate(360deg);
  }

  detail {
    font-size: 1rem;
    display: none;
    justify-content: center;
    align-items: center;
    justify-self: center;
    align-self: center;
    height: 100%;
    width: 100%;
    cursor: pointer;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    transition: height 1000ms;

    .growheight {
      height: 400%;
    }
  }

  tabDiv {
    display: grid;

    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row: 1;

    position: absolute;
    top: 10;
    height: 0%;
    width: 100%;
    opacity: 0%;
    align-self: end;

    transition: opacity 300ms, height 300ms;
  }

  .scrollSlide {
    height: 30%;
    opacity: 100%;
  }
}
