$projectDiv: #c87536;
$taskBtnDiv: rgb(50, 69, 59);
$editBtn: rgb(252, 229, 25);

$background: #6d1818;
$navColor: #10274e;
$topBar: #10274e;

$addProjectBtn: #64c4ea;
$submitProjBtn: rgb(38, 126, 48);
$cancelProjBtn: rgb(134, 44, 44);

$topOfTaskModal: #6d1818;
$midtaskModal: #10274e;
