@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Silkscreen&display=swap");
@import "./addTaskModal";
@import "./variables";
@import "./projectDiv";
@import "./editModal";

body {
  font-family: "Roboto";
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.middle {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 2rem;
  gap: 10px;
}

.sideBar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $navColor;
  height: 100vh;
  width: 60vh;

  gap: 20px;

  .projectTab {
    font-size: 2rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: none;
    color: white;
    width: 100%;
  }
  .Projects {
    font-size: 1rem;
    display: flex;
    flex-direction: column;

    align-items: center;
    padding: 1rem;
    background-color: none;

    width: 100%;
    height: 12rem;
    transition-duration: 1000ms;
  }

  .ProjectInput {
    display: none;
    opacity: 1;
    height: 2rem;
    width: 18rem;
    transition-duration: 1000ms;
  }

  .addProject {
    color: black;
    padding: 1rem;
    background-color: $addProjectBtn;
    height: 1rem;
    width: 80%;
    border-radius: 10px;
    text-align: center;
    transition-duration: 300ms;
  }

  .slide {
    transform: translateY(10%);
  }
  .projCont {
    display: flex;
    flex-direction: column;
    transition-duration: 1000ms;
  }
  .btnCont {
    display: none;
    padding: 1rem;
    padding-right: 3rem;
    gap: 1rem;
    justify-content: flex-end;

    .submitProject {
      display: flex;
      justify-content: center;
      align-items: center;

      height: 2rem;
      width: 4rem;
      background-color: $submitProjBtn;
    }

    .cancel {
      @extend .submitProject;

      background-color: $cancelProjBtn;
    }
  }
}

.right {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.container {
  display: flex;

  width: 100%;
  background-color: $background;

  .topBar {
    width: 100%;
    height: 10%;
    box-shadow: 3px 1px 2px 2px #fca311;
    background-color: $topBar;
  }
  .taskContainer {
    height: 40%;
    width: 50%;
    background-color: yellow;
  }
}

.detailModal {
  color: white;
  display: flex;

  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba($color: #000000, $alpha: 0.8);
  justify-content: center;
  align-items: center;

  .headerLabel {
    display: grid;
    grid-template-columns: repeat(5, 1fr);

    width: 100%;
    height: 10%;

    align-items: flex-end;
    background-color: rgb(70, 70, 67);

    .tName {
      padding-left: 2rem;
      width: 1fr;
      grid-column: 1;
    }
    .tDescription {
      width: 1fr;
      grid-column: 2;
    }
    .tDueDate {
      grid-column: 3;
      width: 1fr;
    }
    .tPriority {
      grid-column: 4;
      width: 1fr;
    }
  }
  .taskList {
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 50%;
    border-radius: 100px;

    divfortask {
      display: grid;
      text-overflow: ellipsis;
      grid-template-columns: repeat(5, 1fr);
      margin-top: 1rem;
      border-radius: 15px;
      gap: 10px;
      border-bottom: 1px solid black;
      width: 100%;
      height: 15%;

      taskTitle {
        overflow: hidden;
        text-overflow: ellipsis;

        grid-column: 1;
        border-radius: 50px;
        padding-left: 2rem;
        justify-content: flex-end;
        align-items: flex-end;
        align-self: start;
        justify-self: start;
        font-size: 1rem;
        height: 100%;
        width: 100%;
      }
      taskDes {
        font-size: 1.5rem;
        width: 1fr;
        overflow: hidden;
        text-overflow: ellipsis;
        grid-column: 2;
      }

      taskDD {
        grid-column: 3;
        width: 1fr;
        font-size: 1rem;
      }
      taskPrio {
        width: 1fr;
        grid-column: 4;
        padding-right: 1rem;
      }
    }
    .realtaskList {
      display: flex;
      flex-direction: column;
      background-color: rgb(27, 110, 65);
      height: 4rem;
      width: 100%;
      height: 100%;
      border-radius: 0px 0px 10px 10px;
    }
    .titleBar {
      display: grid;
      grid-template-columns: 1fr 1fr;
      border-radius: 10px 10px 0px 0px;
      justify-content: space-evenly;
      font-size: 2rem;
      position: relative;
      text-align: end;

      margin: 0;
      padding: 0;
      height: 20%;
      width: 100%;
      background-color: grey;

      .detailClose {
        grid-column: 2;
        padding-right: 1rem;
        justify-self: end;
        cursor: pointer;
      }
    }
  }
}

testingdiv {
  display: flex;
  align-self: center;
  height: 100%;
  width: 80%;
  background-color: rgb(101, 101, 16);
}
